.content-container {
  position: fixed;
  top: 0;
  left: $sidebar-width;
  display: inline-block;
  padding: 0 $l-size;
  max-width: 100rem;
  width: 75vw;
  padding-top: 0em;
}
.content-container__centered {
  text-align: center;
}

.content-box {
  padding-top: 1em;
}
.content-box2 {
  padding-left: 32%;
  font-weight: bolder;
  font-size: large;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
