.color-blue {
  background-color: rgba(0, 0, 255, 0.7) !important;
}

.color-green {
  background-color: rgba(0, 128, 0, 0.7) !important;
}

.color-red {
  background-color: rgba(255, 0, 0, 0.7) !important;
}

.color-yellow {
  background-color: rgba(255, 255, 0, 0.7) !important;
}

.color-orange {
  background-color: rgba(255, 165, 0, 0.7) !important;
}
